<div data-ng-controller="HeaderController">

	<header class="main-header">
        <!-- Logo -->
        <a href="#!/" class="logo"><img src="modules/core/img/brand/logo_pulse.png"  alt="Pulse. Active Remote Monitoring" /></a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">

          	<div>
				
				<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
					<!--li ui-route="/signup" ng-class="{active: $uiRoute}">
						<a href="/#!/signup">Sign Up</a>
					</li-->
					<li class="divider-vertical"></li>
					<li ui-route="/signin" ng-class="{active: $uiRoute}">
						<a href="/#!/signin">Sign In</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
		            <li class="dropdown user user-menu">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                  <img src="modules/core/img/profile/profile1.png" class="user-image" alt="User Image"/>
		                  <span class="hidden-xs" data-ng-bind="authentication.user.displayName"></span>
		                </a>
		                <ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header">
								<img src="modules/core/img/profile/profile1.png" class="img-circle" alt="User Image" />
								<p>
								  <span data-ng-bind="authentication.user.displayName"></span>
								  <small data-ng-bind="authentication.user.empresa.nombre"></small>
								</p>
							</li>
							<!-- Menu Body -->
							<li class="user-body">
								<div class="col-xs-4 text-center">
								  <a href="/#!/settings/profile" class="btn btn-default btn-sm">Profile</a>
								</div>
								<div class="col-xs-4 text-center">
								  <a href="/#!/settings/password" class="btn btn-default btn-sm">Password</a>
								</div>
								<div class="pull-right">
								  <a href="/auth/signout" class="btn btn-default btn-sm">Log out</a>
								</div>
							</li>
							<!-- Menu Footer->
		                  	<li class="user-footer">
			                    <div class="pull-left">
			                      <a href="/#!/settings/profile" class="btn btn-default btn-flat">Perfil</a>
			                    </div>                    
			                    <div class="pull-center">
			                      <a href="/#!/settings/password" class="btn btn-default btn-flat">Contraseña</a>
			                    </div>
			                    <div class="pull-right">
			                      <a href="/auth/signout" class="btn btn-default btn-flat">Salir</a>
			                    </div>
		                  	</li-->
		                </ul>
		            </li>
				</ul>
			</div>
		</nav>
	</header>


</div>