<section data-ng-controller="HomeController">
<section class="content-header">
          <h1>
            Dashboard
            <small>Status</small>
          </h1>
        </section>			
<section class="content">		
		<div class="row">
			<div class="col-md-4">
				<a href="/#!/ips">
				<div class="box box-solid box-default">
	                <div class="box-header">
	                  <h3 class="box-title"><i class="ion-ios-pulse-strong"> </i> Mallplaza</h3>   
	                </div>
	                <div class="box-body">
	                	<div class="row" data-ng-controller="IpsController"  data-ng-init="find()">
							<div class="col-lg-6 col-xs-6">
							  <!-- small box -->
								<div class="small-box bg-red">
							    	<div class="inner">
							      		<h3>
							        		{{countEvent('error', 1)}}
							      		</h3><p></p>
							    	</div>
							    	<div class="icon">
							      		<i class="ion-close-circled"></i>
							    	</div>
							    	<div class="small-box-footer">
							    		Offline
							    	</div>
							  	</div>
							</div>
			  	          	<div class="col-lg-6 col-xs-6">
							  <!-- small box -->
								<div class="small-box bg-yellow">
							    	<div class="inner">
							      		<h3>{{countEvent('warning', 1)}}</h3><p></p>
							    	</div>
							    	<div class="icon">
							      		<i class="ion-alert-circled"></i>
							    	</div>
							    	<div class="small-box-footer">
							    		Warning
							    	</div>
							  	</div>
							</div>
			            </div>
	            	</div>
				</div>
				</a>
              </div>
			</div>
		</div>

	</div>

</section>