<section data-ng-controller="AuthenticationController">
    <section class="content-header">
        <h1>
            Usuario 
            <small>nuevo</small>
        </h1>
    </section>
    <section class="content">
      	<div class="row">
			<!-- left column -->
			<div class="col-md-12">
			  	<!-- general form elements -->
			  	<div class="box box-primary">
					<form name="userForm" data-ng-submit="signup()" class="" novalidate autocomplete="off">
						<div class="row">
							<div class="box-body">
								<div class="col-lg-4">
									<img src="modules/core/img/profile/profile1.png"><br>
									<!--label for="exampleInputFile">File input</label>
					              	<input type="file" id="exampleInputFile"-->
								</div>
								<div class="col-lg-8">

					                <div class="form-group">
					                  	<label for="firstName">Nombre</label>
										<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Nombre">
					                </div>
					                
					                <div class="form-group">
					                  	<label for="lastName">Apellido</label>
										<input type="text" required id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Apellido">
					                </div>
					                
									<div class="form-group" data-ng-controller="EmpresasController" data-ng-init="find()">
										<label for="empresa">Empresa</label>
										<select name="empresa" class="form-control glowing-border" data-ng-model="credentials.empresa" required>
									      <option style="color:gray" value="" disabled="true">Seleccione una opción</option>
									      <option data-ng-repeat="empresa in empresas" value="{{empresa._id}}">{{empresa.nombre}}</option>
									    </select>
									</div>
					                
									<div class="form-group" >
										<label for="roles">Rol</label>
										<select name="roles" class="form-control glowing-border" data-ng-model="credentials.roles" required>
									      <option style="color:gray" value="" disabled="true">Seleccione una opción</option>
									      <option  value="user">User</option>
									      <option  value="admin">Admin</option>
									    </select>
									</div>
									<div class="form-group">
										<label for="email">Email</label>
										<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
									</div>
									<div class="row">
									<div class="col-lg-6">
					                    <div class="form-group">
											<label for="username">Usuario</label>
											<input type="username" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Usuario">
										</div>
										</div>
										<div class="col-lg-6">
										<div class="form-group">
											<label for="password">Contraseña</label>
											<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
										</div>     
										</div>     
									</div>					
									<div data-ng-show="error" class="callout callout-danger">
										<strong data-ng-bind="error"></strong>
									</div>
								</div>	  
					        </div>

					        <div class="box-footer pull-right">
					        	<div class="col-lg-12 ">
					        		<button type="submit" class="btn btn-primary">Guardar</button>
					        		<a class="btn btn-warning" href="#!/managmentusers">Cancelar</a>
					      		</div> 
					        	
					      	</div> 
					    </div>					
					</form>
				</div><!-- /.box -->
    		</div><!--/.col -->
  		</div><!-- /.row -->
	</section>   
</section>