<section data-ng-controller="IpsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Ips</h1>
    </div>
    <div class="list-group">
        
        <table class="table-services table sorted table-striped table-condensed">
            <thead>
                <th>Status</th>
                <th>Group</th>
                <th>Entrance</th>
                <th>IP</th>
                <th>Status Ping</th>
                <th>Last Count</th>

            </thead>
            <tbody>

                <tr data-ng-repeat="ip in ips"  class="result-{{ip.status}}">
                    <td>
                        <span class="label label-danger"  ng-if="ip.status != 'success' && ip.status != 'warning'">offline</span>
                        <span class="label label-success"  ng-if="ip.status == 'success'">online</span>
                        <span class="label label-warning"  ng-if="ip.status == 'warning'">warning</span>
        
                    </td>
                    
                    <td>{{ip.groupname}}</td>
                    
                    <td  class="hosturl">
                        <a class="name" >
                            {{ip.entrance}}
                        </a>
                        <span class="hidden-xs last_check">{{ip.site}} / {{ip.zone}}</span>
                    </td>
                    
                    <td>
                        <span class="label label-default">{{ip.ip}}</span><br>
                        
                        <span class="hidden-xs last_check" ng-if="ip.status == 'success' || ip.status == 'warning'"> 
                            last ping:
                            {{ip.created | date: 'MMM d, HH:mm:ss'}}
                            <br><span am-time-ago="ip.created"></span>
                        </span>

                        <span class="hidden-xs last_check" ng-if="ip.status == 'error'"> 
                            last ping success:
                            {{(ip.lastpingsucces | date: 'MMM d, HH:mm:ss') || "since the beginning of time"}}
                            <br><span am-time-ago="ip.lastpingsucces"></span>
                        </span>
                    </td>
                    <td>
                        <span class="label label-success"  ng-if="ip.statusping == 'Success'">{{ip.statusping}}</span>
                        <span class="label label-danger"  ng-if="ip.statusping != 'Success'">{{ip.statusping}}</span>
                        <br><span class="hidden-xs last_check">RTT: {{ip.roundtrip}}</span>

                    </td>
                    <td>{{ip.lastcount | date: 'MMM d, HH:mm:ss'}}
                    <br><span class=" label-success"><i class="fa fa-fw fa-arrow-up"></i>{{ip.lastin}}</span>
                    <span class=" label-danger"><i class="fa fa-fw fa-arrow-down"></i>{{ip.lastout}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
			
        
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!ips.$resolved || ips.length">
    	No Ips yet, why don't you <a href="/#!/ips/create">create one</a>?
    </div>
</section>