<section data-ng-controller="IpsController" data-ng-init="find()">
    <div class="page-header">
    <div class="row">
        <div class="col-xs-6"><input ng-model="searchKeyword" class="form-control" placeholder="buscar ..." type="text"/></div>
                <div class="col-xs-2">
                    <a class="btn btn-block btn-danger btn-sm" ng-click="searchKeyword = {status:'error'}">{{countEvent('error')}} Services Down</a>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-block btn-warning btn-sm" ng-click="searchKeyword = {status:'warning'}">{{countEvent('warning')}} Services Warning</a>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-block btn-success btn-sm" ng-click="searchKeyword = {status:'success'}">{{countEvent('success')}} Services Online</a>
                </div>
    </div>
        
    
    </div>
    <div class="list-group">
        
        <table class="table-services table sorted table-striped table-condensed">
            <thead>
                <th><a href="" ng-click="orderByField='status'; reverseSort = !reverseSort">Status</a></th>
                <th><a href="" ng-click="orderByField='groupname'; reverseSort = !reverseSort">Group</a></th>
                <th><a href="" ng-click="orderByField='entrance'; reverseSort = !reverseSort">Entrance</a></th>
                <th><a href="" ng-click="orderByField='ip'; reverseSort = !reverseSort">IP</a></th>
                <th><a href="" ng-click="orderByField='statusping'; reverseSort = !reverseSort">Status Ping</a></th>
                <th><a href="" ng-click="orderByField='lastcount'; reverseSort = !reverseSort">Last Count</a></th>
                <th><a href="" ng-click="orderByField='uptime'; reverseSort = !reverseSort">Uptime</a></th>

            </thead>
            <tbody>

                <tr data-ng-repeat="ip in ips | filter: searchKeyword | orderBy:orderByField:reverseSort"  class="result-{{ip.status}}">
                    <td>
                        <span class="label label-danger"  ng-if="ip.status != 'success' && ip.status != 'warning'">{{ip.status}}</span>
                        <span class="label label-success"  ng-if="ip.status == 'success'">{{ip.status}}</span>
                        <span class="label label-warning"  ng-if="ip.status == 'warning'">{{ip.status}}</span>
        
                    </td>
                    
                    <td>{{ip.groupname}}</td>
                    
                    <td  class="hosturl">
                        <div class="name" >
                            {{ip.entrance}}
                        </div>
                        <span class="hidden-xs last_check">{{ip.site}} / {{ip.zone}}</span>
                    </td>
                    
                    <td>
                        <span class="label label-default">{{ip.ip}}</span><br>
                        
                        <span class="hidden-xs last_check" ng-if="ip.status == 'success' || ip.status == 'warning'"> 
                            last ping:
                            {{ip.created | date: 'MMM d, HH:mm:ss'}}
                            <br><span am-time-ago="ip.created"></span>
                        </span>

                        <span class="hidden-xs last_check" ng-if="ip.status == 'error'"> 
                            last ping success:
                            {{(ip.lastpingsucces | date: 'MMM d, HH:mm:ss') || "never"}}
                            <br><span am-time-ago="ip.lastpingsucces"></span>
                        </span>
                    </td>
                    <td>
                        <span class="label label-success"  ng-if="ip.statusping == 'Success'">{{ip.statusping}}</span>
                        <span class="label label-danger"  ng-if="ip.statusping != 'Success'">{{ip.statusping}}</span>
                        <br><span class="hidden-xs last_check">RTT: {{ip.roundtrip}}</span>

                    </td>
                    <td>
                    
                    <small class="label label-success"><i class="fa fa-fw fa-arrow-up"></i></small><small class="label label-default"> IN: {{ip.lastin}}</small>
                    <small class="label label-danger"><i class="fa fa-fw fa-arrow-down"></i></small><small class="label label-default"> OUT: {{ip.lastout}}</small><br>
                    {{ip.lastcount | date: 'MMM d, HH:mm:ss'}} <span am-time-ago="ip.lastcount"></span>
                    </td>
                    <td>
                        <div class="name">{{ip.uptime}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
			
        
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!ips.$resolved || ips.length">
    	No Ips yet, why don't you <a href="/#!/ips/create">create one</a>?
    </div>
</section>