<section data-ng-controller="EmpresasController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>
            Cuenta 
            <small>edición</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <form  data-ng-submit="update()" class="" novalidate autocomplete="off">
                        <div class="row">
                            <div class="box-body">
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" required id="nombre" name="nombre" class="form-control" data-ng-model="empresa.nombre" placeholder="Nombre">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="cuit">CUIT</label>
                                        <input type="text" required id="cuit" name="cuit" class="form-control" data-ng-model="empresa.cuit" placeholder="CUIT">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="domicilio">Domicilio</label>
                                        <input type="text" required id="domicilio" name="domicilio" class="form-control" data-ng-model="empresa.domicilio" placeholder="Domicilio">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" data-ng-model="empresa.email" placeholder="Email">
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="username">Fecha Caducidad</label>
                                            <p class="input-group">
                                                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" data-ng-model="empresa.vigencia" is-open="opened" min-date="minDate" max-date="'2099-12-31'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                        </div>
                                        <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="activo">Activo</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                  <input type="checkbox" data-ng-model="empresa.activo" id="activo"  >
                                                </span>
                                                <spam class="form-control">Seleccionar para activar la cuenta</spam>
                                            </div>
                                        </div>     
                                        </div>     
                                    </div>                  
                                    <div data-ng-show="error" class="callout callout-danger">
                                        <strong data-ng-bind="error"></strong>
                                    </div>
                                </div>    
                            </div>

                            <div class="box-footer pull-right">
                                <div class="col-lg-12 ">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    <a class="btn btn-warning" href="#!/empresas">Cancelar</a>
                                </div> 
                                
                            </div> 
                        </div>                  
                    </form>
                </div><!-- /.box -->
            </div><!--/.col -->
        </div><!-- /.row -->
    </section> 

</section>