<section data-ng-controller="PersonalsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Personal</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Legajo</label>
                    <div class="controls">
                        <input type="text" data-ng-model="personal.legajo" id="legajo" class="form-control" placeholder="Legajo" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="personal.nombre" id="nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">DNI</label>
                    <div class="controls">
                        <input type="text" data-ng-model="personal.dni" id="dni" class="form-control" placeholder="DNI" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>