<section data-ng-controller="PersonalsController" data-ng-init="find()">
    <section class="content-header">
        <h1>
            Personal
            <small>Listado</small>
        </h1>
    </section>
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <table st-table="displayCollection" st-safe-src="personals" class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3">
                            <input st-search="" class="form-control" placeholder="buscar ..." type="text"/>
                        </th>
                        <th colspan="1">
                            <a href="/#!/personals/create" class="btn btn-sm btn-success">
                                <i class="glyphicon glyphicon-plus">
                                </i> Agregar Personal
                            </a>
                        </th>
                    </tr>
                    <tr>
                        <th st-sort="legajo" st-skip-natural="true">Legajo</th>
                        <th st-sort="nombre" st-skip-natural="true">Nombre</th>
                        <th st-sort="dni">DNI</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayCollection">
                        <td>{{row.legajo}}</td>
                        <td>{{row.nombre}}</td>
                        <td>{{row.dni}}</td>
                        <td>
                            <a href="/#!/personals/{{row._id}}/edit" class="btn btn-sm btn-info">
                                <i class="glyphicon glyphicon-edit">
                                </i>
                            </a>
                            <button type="button" ng-click="confirmClick() && remove(row)" confirm-click="Está seguro que desea eliminar el registro?" confirm-click class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-trash">
                                </i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="alert alert-warning text-center" data-ng-hide="!personals.$resolved || personals.length">
                No cuentas yet, why don't you <a href="/#!/personals/create">create one</a>?
            </div>
          </div><!-- /.box -->
        </div><!--/.col -->
      </div>   <!-- /.row -->
    </section>

</section>